LearningWCF/HelloServiceClient/Connected Services/HelloService/HelloService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetGreetingsMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGreetingsMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGreetingsMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGreetingsMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetGreetingsMessage" />
  </wsdl:message>
  <wsdl:message name="GetGreetingsMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetGreetingsMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="HelloServiceSoap">
    <wsdl:operation name="GetGreetingsMessage">
      <wsdl:input message="tns:GetGreetingsMessageSoapIn" />
      <wsdl:output message="tns:GetGreetingsMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloServiceSoap" type="tns:HelloServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGreetingsMessage">
      <soap:operation soapAction="http://tempuri.org/GetGreetingsMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HelloServiceSoap12" type="tns:HelloServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGreetingsMessage">
      <soap12:operation soapAction="http://tempuri.org/GetGreetingsMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port name="HelloServiceSoap" binding="tns:HelloServiceSoap">
      <soap:address location="http://localhost:63107/HelloService.asmx" />
    </wsdl:port>
    <wsdl:port name="HelloServiceSoap12" binding="tns:HelloServiceSoap12">
      <soap12:address location="http://localhost:63107/HelloService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>